//	proscom.ru
//	Простые Коммуникации


doctype html
html
	head
		title
			| ИП 
			block title

		// Meta
		meta(charset="utf-8")
		link(rel="icon" type="image/png" href="favicon.png")

		// Styles
		//-link(href="css/jquery.remodal.css", rel="stylesheet")
		link(href="fonts/fonts.css", rel="stylesheet")
		link(href="css/normalize.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")
		block styles

		// Scripts
		//-script(src="js/jquery.remodal.js", type="text/javascript")
		script(src="js/jquery.min.js", type="text/javascript")
		script(src="js/jquery.mCustomScrollbar.concat.min.js", type="text/javascript")
		block scripts
		script(src="js/functions.js", type="text/javascript")