//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - События
	
block scripts
	script(src="js/jquery.supercal.js", type="text/javascript")
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li
					a(href="#") События
		//------------------------------------------------
		.page-name
			h1 События
			p События на тему строительства промышленных и иных объектов
		//------------------------------------------------
		.main-left
			.box-articles.box-orange.mar-bot-30
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.iname
							a(href="#") Модернизация КРУ и КСО
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
			.box-articles
				.bname
					h3 Ближайшие события
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Без описания
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-2.jpg", alt="")
					.icon
						.iname
							a(href="#") Модернизация КРУ и КСО
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Мастер-класс
								span.count 43
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-1.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.itext Взлет строителя сетей связи «Инфра инжиниринг» хорошо показывает, что такое история успеха в России. Основные активы «Инфра» получила от компании, возможно связанной с бывшим министром связи, а основные заказы — от госхолдинга, в котором работали приятели
						.imore 
							a(href="#") Читать полностью
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00 до 16.00, <br>29, 30 октября - с 10.00 до 12.00
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
		//------------------------------------------`------
		.main-right
			.box-news.box-right.box-news_dotted
				.bname
					h3 
						a(href="#") Похожие события
				.bcon
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Выставка научного оборудования НИИ спорта РГУФКСМиТ
						.itext 10 ноября 2014 года в лаборатории комплексных исследований НИИ спорта РГУФКСМиТ состоится выставка научного оборудования.
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00<br>29, 30 октября - с 10.00
					.item
						.idate 18 Сентября
						.iname 
							a(href="#") Ивановский государственный политехнический университет
						.itext 10 ноября 2014 года в лаборатории комплексных исследований НИИ спорта РГУФКСМиТ состоится выставка научного оборудования.
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 45
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00<br>29, 30 октября - с 10.00
					.item
						.idate 30 Сентября
						.iname 
							a(href="#") Ученые объяснили смертельную 
						.itext 10 ноября 2014 года в лаборатории комплексных исследований НИИ спорта РГУФКСМиТ состоится выставка научного оборудования.
						.tags
							a(href="#").tags-item
								span.name Круглый стол
								span.count.empty
						.address-date
							.ad-address Москва, ул. Сиреневый бульвар, д.4
							.ad-date 27, 28 октября - с 14.00<br>29, 30 октября - с 10.00
				.ball
					a(href="#") Все новости
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")