//- Шаблон
//------------------------------------------------
extends _layout

//- Загаловок страницы
block title
	| - Услуги
	
block scripts
	script(src="js/jquery.supercal.js", type="text/javascript")
 
 
//- Контент
//------------------------------------------------
block append content
	.main-width.main-wrap
		.pathway
			ul
				li: a(href="#") Услуги
		//------------------------------------------------
		.page-name
			h1 Услуги
			p Рынок услуг по инжинирингу и промдизайну
		//------------------------------------------------
		.main-left
			.search-con
				form(action="#")
					input(type="text", placeholder="Быстрый поиск по услугам").inp-text
					input(type="submit", value="").inp-submit
			.box-articles
				.heading
					.heading-left_sort Сортировать по:						
					.heading-right_sort
						a(href="#").active 
							| Пользовательскому рейтингу 
							span
						a(href="#") 
							| Названию организации
							span 
				.item
					.iprev
						img(src="img/content/180-135-3.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10
							span Изготовление деталей типа тел вращения
							ul
								li.star
								li.star
								li.star
								li.star
								li
						.itext 
							p 
								strong.reg-black Описание: 
								| участок станков
							p 
								strong.reg-black Организация (ВУЗ / ГНЦ): 
								| Национальный исследовательский Томский политехнический
						.tags
							a(href="#").tags-item
								span.name Выставки
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
						.order-service
							a(href="#").btn-orange Заказать услугу
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
				.item
					.iprev
						img(src="img/content/180-135-4.jpg", alt="")
					.icon
						.iname
							a(href="#") Состояние науки российской федерации
						.irating.mar-bot-10
							span Изготовление деталей типа тел вращения
							ul
								li.star
								li.star
								li.star
								li
								li
						.itext 
							p 
								strong.reg-black Описание: 
								| участок станков
							p 
								strong.reg-black Организация (ВУЗ / ГНЦ): 
								| Национальный исследовательский Томский политехнический
						.tags
							a(href="#").tags-item
								span.name Металлообратобка
								span.count 12
							a(href="#").tags-item
								span.name Машиностроение
								span.count.empty
						.order-service
							a(href="#").btn-orange Заказать услугу
						.imeta
							.right.mar-top-20m
								.comments
									a(href="#") 51
								.views
									a(href="#") 225
		//------------------------------------------------
		.main-right
			.box-right.boxside-sort-cat
				.bname
					h3 Области применения
				.bcon
					ul
						li.selected
							a(href="#") Авиация и космос (10)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Безопасность (17)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
						li
							a(href="#") Власть (31)
						li
							a(href="#") Добыча полезных ископаемых (4)
						li.selected
							a(href="#") ЖКХ (3)
						li
							a(href="#") Бизнес-консалтинг (1)
						li
							a(href="#") Биотехнологии и медицина (25)
			//------------------------------------------------
			.box-support
				.bcon
					.item
						a(href="#") 
							img(src="img/content/logo-minprom.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-smr.png", alt="")
					.item
						a(href="#") 
							img(src="img/content/logo-ibs.png", alt="")